<md-card>
    <md-card-header>
        Please tell us about the offender
    </md-card-header>
    <md-card-content>
        <formly-form model="vm.data" fields="vm.fields">
          <md-button type="button" class="md-raised md-primary" ng-click="vm.save()">Save</md-button>
          <md-button type="submit" class="md-raised md-primary" ng-click="vm.saveAndNext()">Save and Next</md-button>
        </formly-form>

    </md-card-content>
    <md-card-actions layout="column">
    </md-card-actions>
</md-card>
